{% extends 'activities/activity_base.html' %}

{% block title %}Activities{% endblock %}

{% block content %}
  <h1>Activities</h1>

  {% for act in activities %}
    {% with i=forloop.counter0|stringformat:"i" %}

      <div class="item">

        <!--activity title-->
        <a href="{% url 'activity_detail' pk=act.pk %}">
          <h2>{{ act.date }}{% if act.title %}: {{ act.title }}{% endif %}</h2>
        </a>

        <!--run info-->
        {% if act.runToday %}
          {% with "run"|add:i as id %}
            <div id="{{ id }}">
              <h3>Running</h3>
              <p>Distance: {{ act.runMiles }}</p>

              {% if act.runTime %}
                <p>Time: {{ runTime }}</p>
              {% endif %}

              <p>Shoe:
              {% if act.shoe %} 
                {{ act.shoe.name}} 
              {% else %}
                {{ "<i>None</i>"|safe }}
              {% endif %}
              </p>
            </div>
          {% endwith %}
        {% endif %}

        {% if act.bikeToday %}
          {% with "bike"|add:i as id %}
            <div id="{{ id }}">
              <h3>Cycling</h3>
              <p>Distance: {{ act.bikeMiles }}</p>

              {% if act.bikeTime %}
                <p>Time: {{ bikeTime }}</p>
              {% endif %}

              <p>Bike:
              {% if act.bike %} 
                {{ act.bike.name}} 
              {% else %}
                {{ "<i>None</i>"|safe }}
              {% endif %}
              </p>
            </div>
          {% endwith %}
        {% endif %}

        <p><b>Comments:</b><p>
        {% if act.comments %}
          <div class="comments">
            <p>{{ act.comments }}<p>
          </div>
        {% endif %}

        <p>Sleep Hours: {{ act.sleepHours }}</p>
      </div>

    {% endwith %}
  {% endfor %}
{% endblock %}





