<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/items.css' %}">

  <!--Bootstrap-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{% static 'js/activities-jquery.js' %}"></script>
</head>
<body>
  {% block nav %}
  <ul id="nav">
    <li>{% block nav-home %}<a href="{% url 'home' %}">Home</a>{% endblock %}</li>
    <li>{% block nav-activities %}<a href="{% url 'activities' %}">Activities</a>{% endblock %}</li>
    <li>{% block nav-shoes %}<a href="{% url 'shoes' %}">Shoes</a>{% endblock %}</li>
    <li>{% block nav-bikes %}<a href="{% url 'bikes' %}">Bikes</a>{% endblock %}</li>
    <li id="about">{% block nav-about %}<a href="{% url 'about' %}">About</a>{% endblock %}</li>
  </ul>
  {% endblock %}

  <div id="con">
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="foot">
      <p>&copy;2016 <a href="http://oliver-newman.github.io/">Oliver Newman</a></p>
    </div>
  </div>
</body>
</html>
